---
const today = new Date();
---
<footer class="bg-dark-500 text-white py-8 mt-auto">
  <div class="container mx-auto px-4 text-center">
    <p>&copy; {today.getFullYear()} Martin Guillemot (ObNitram). Tous droits réservés.</p>
    <div class="mt-4 flex justify-center space-x-4">
      <a href="https://github.com/ObNitram" target="_blank" rel="noopener noreferrer" class="hover:text-primary-500 transition-colors">GitHub</a>
      <a href="https://www.linkedin.com/in/martin-guillemot-574467240" target="_blank" rel="noopener noreferrer" class="hover:text-primary-500 transition-colors">LinkedIn</a>
    </div>
  </div>
</footer>
